%h1 Account


%section.address
  %h1 Address

  %p
    %img [QR CODE]

  %input{ type: "text", disabled: true, value: @user.address }
  
  

%section.commands
  %h1 Commands
  
  %p BALANCE
  
  %p SEND amount TO user

  / SEND 0.1 BTC TO 349 1234567
  / SEND 1mBTC TO makevoid  