%h1 Login/Register

%p Enter your cellphone number:
%form{ action: "/login", method: :post }
  %input{ name: "number", type: "text", placeholder: "39 349 123456" }
  %input{ type: "submit", value: "Enter" }


%p or send this message
%pre REGISTER
%p to: #{GATEWAY_NUMBER}
%img{ src: "/images/#{GATEWAY_NUMBER}_register.png"}
%p [NOTE: Requires "My TextMagic number" option active (3 eur / month)]

%h5 note:

%p existing accounts:
%input{ type: "text", disabled: true, value: "39 349 1598100" }